body{
    background-color: lavender;
}

#heading{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: darkturquoise;
}

#objects{
    font-family: 'Cookie', cursive;
    color: darkseagreen;
}

b{
    font-family: 'Patrick Hand', cursive;
    color: floralwhite;
}

label{
    font-family: 'Amatic SC', cursive;
    color: darksalmon;
    font-size: 25px;
}

button{
    font-family: 'Righteous', cursive;
}

#result_object,#result_accuracy{
    font-family: 'Fredoka One', cursive;
    color: gold;
}